svg(width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect(width="32" height="32" rx="16" fill="#007FFF")
    path(fill-rule="evenodd" clip-rule="evenodd" d="M16.9937 18.8857L14.4472 16.1698L9.47828 18.8857L14.9441 13.0832L17.5528 15.7993L22.4597 13.0832L16.9937 18.8857ZM16 6.41666C10.4772 6.41666 6 10.5621 6 15.6759C6 18.5898 7.45422 21.1888 9.72672 22.8862V26.4167L13.1316 24.5479C14.0403 24.7993 15.003 24.9351 16 24.9351C21.5228 24.9351 26 20.7896 26 15.6759C26 10.5621 21.5228 6.41666 16 6.41666Z" fill="white")
