include ../config/variables
include ../components/mixins
block pageVar

doctype html
html(lang="ru")
    head
        title= pageTitle
        include head
    body
        include ../modules/header
        block predcontent
        .container-fluid
            .row.p-0
                .col-lg-1.d-none.d-md-block
                    block social
                .col-lg-7.xl-8
                    block content
                .col-lg-4.xl-3
                    block sidebar
            
            block predfooter
            
            include ../components/navbuttons 
        include ../modules/footer
        include foot