extends templates/page-fit

block pageVar
    - var pageTitle = "SkillsUp / Главная";
    - var pageName = "Вакансии";

block social
    include components/social-page
block content
    .page-t2
        h1 История знакомства с магией Java-разработки от нашего выпускника Дениса Березанского
        .info-panel-mentor
            img.info-panel-mentor-img.w-40p(src="img/trainers/photo_trainer01.jpg")
            .info-panel-mentor-info
                .font-body1 Денис Березанский
                .font-body2.gray2 18 апреля 2019
        img.page-t2-title-image.mt-5(src="img/img_post2.jpg")
        h3 Цель стажировки
        p Это многоуровневый курс для IT специалистов и людей, занятых в сфере IT.  Он был разработан как совокупность различных тем, которые затрагивают целый спектр языковых компетенций и направлен на развитие навыков свободного языкового общения учащихся, а именно, главной целью которого является помочь научиться выражать свои мысли связно  и грамотно.
        h3 На кого рассчитана стажировка
        p Среди наших студентов - учащиеся и выпускники инженерных специальностей, системные администраторы и веб-дизайнеры, менеджеры информационных систем и многих других специальностей.
        p Курс разработан с учетом реальных современных требований, которые в настоящее время предъявляются к IT-специалистам при приеме на работу.
        p Курс был разработан с использованием наиболее современных методических материалов именитых издательств, среди которых Oxford University Press и Pearson Longman.
    
        h3 Похожие темы
        .chip-blog
            a.chip-item(href="#") Истории успеха
            a.chip-item(href="#") Разработка
