extends templates/base

block pageVar
    - var pageTitle = "SkillsUp / Программа лояльности";
    - var pageName = "Программа лояльности";

block content
    
    .page-title Программа лояльности
    .bonuses-discount.row
        .col-12.col-lg-3.pl-0
            h2.mb-4 Система скидок
            .font-body1.gray2 Для уточнения деталей и размера скидки вы можете связаться с нашим координатором. #[br] Скидки не суммируются. 
        .col-12.col-md-4.col-lg-3
            .bonuses-percent 20%
            ul
                li Вы пришли к нам впервые
                li Выпускник наших курсов
                li Студент ВУЗа
        .col-12.col-md-4.col-lg-3
            .bonuses-percent 10%
            ul
                li Пришли к нам с другом #[br](действует в пределах одной группы)
        .col-12.col-md-4.col-lg-3
            .bonuses-percent 5%
            ul
                li Отзыв о нас на Facebook или DOU
  
    .bonuses-section.deal-section
        +dealItem("img/bonuses-1.jpg", "Хотите сменить профессию, но нет возможности?", "Напишите эссе на тему “Почему я хочу работать в IT?” и станьте одним из претендентов на получение стипендии для прохождения выбранного вами курса")
        +dealItem("img/bonuses-2.jpg", "Пробное занятие", 'Мы воплощаем идею: "лучше один раз увидеть, чем много раз услышать".Первое занятие, которое вы посещаете в рамках одного курса, считается для вас пробным*. Для каждого слушателя доступно одно пробное занятие в рамках одной группы. *Пробное занятие является бесплатным, только если обучение с данной группой не продолжается.', 1)
    h2.mb-3 Партнерская программа
    .font-body1.gray2 Предоставляем скидки на мероприятия наших постоянных партнеров
    .bonuses-partners
        a(href="#"): img(src="img/partners/logo1.png") 
        a(href="#"): img(src="img/partners/logo2.png") 
        a(href="#"): img(src="img/partners/logo3.png") 