extends templates/page-slim

block pageVar
    - var pageTitle = "SkillsUp / Страница";
    - var pageName = "Страница";

block predcontent
    .page-title.px-3 Построение карьеры
block content
    .container-fluid.p-0.page-t2
        img.page-t2-title-image(src="img/jobs/img_career.jpg")  
        p Это многоуровневый курс для IT специалистов и людей, занятых в сфере IT.  Он был разработан как совокупность различных тем, которые затрагивают целый спектр языковых компетенций и направлен на развитие навыков свободного языкового общения учащихся, а именно, главной целью которого является помочь научиться выражать свои мысли связно  и грамотно.
        p Курс значительно улучшит ваши коммуникативные навыки английского языка в рамках разнообразных речевых ситуаций.
        h2 Программа по построению карьеры
        h3 На кого рассчитан курс
        p Среди наших студентов - учащиеся и выпускники инженерных специальностей, системные администраторы и веб-дизайнеры, менеджеры информационных систем и многих других специальностей.
        p Курс разработан с учетом реальных современных требований, которые в настоящее время предъявляются к IT-специалистам при приеме на работу.
        p Курс был разработан с использованием наиболее современных методических материалов именитых издательств, среди которых #[a(href="#") Oxford University Press и Pearson Longman].
        h3 На кого рассчитан курс
        p Среди наших студентов - учащиеся и выпускники инженерных специальностей, системные администраторы и веб-дизайнеры, менеджеры информационных систем и многих других специальностей.
        p Курс разработан с учетом реальных современных требований, которые в настоящее время предъявляются к IT-специалистам при приеме на работу.
        p Курс был разработан с использованием наиболее современных методических материалов именитых издательств, среди которых #[a(href="#") Oxford University Press и Pearson Longman].
        h3 На кого рассчитан курс
        p Среди наших студентов - учащиеся и выпускники инженерных специальностей, системные администраторы и веб-дизайнеры, менеджеры информационных систем и многих других специальностей.
        p Курс разработан с учетом реальных современных требований, которые в настоящее время предъявляются к IT-специалистам при приеме на работу.
        p Курс был разработан с использованием наиболее современных методических материалов именитых издательств, среди которых #[a(href="#") Oxford University Press и Pearson Longman].

block sidebar
    .container-fluid.p-0
        button.button.btn-full.w-100.mb-4 Записаться
    include modules/info-panel