extends templates/page-fit

block pageVar
    - var pageTitle = "SkillsUp / Главная";
    - var pageName = "Вакансии";

block predcontent
    .page-title.px-3 Стажировки
block social
    include components/social-page
block content
    .page-t2
        img.page-t2-title-image(src="img/jobs/img_post.png")
        h3 Цель стажировки
        p Это многоуровневый курс для IT специалистов и людей, занятых в сфере IT.  Он был разработан как совокупность различных тем, которые затрагивают целый спектр языковых компетенций и направлен на развитие навыков свободного языкового общения учащихся, а именно, главной целью которого является помочь научиться выражать свои мысли связно  и грамотно.
        h3 На кого рассчитана стажировка
        p Среди наших студентов - учащиеся и выпускники инженерных специальностей, системные администраторы и веб-дизайнеры, менеджеры информационных систем и многих других специальностей.
        p Курс разработан с учетом реальных современных требований, которые в настоящее время предъявляются к IT-специалистам при приеме на работу.
        p Курс был разработан с использованием наиболее современных методических материалов именитых издательств, среди которых Oxford University Press и Pearson Longman.
    
        a.button.btn-empty.page-btn(href="#") Хочу участвовать
        a.button.btn-empty.page-btn(href="#") Нужны люди

