extends templates/base

block pageVar
    - var pageTitle = "SkillsUp / Главная";
    - var pageName = "Вакансии";

block content
    .page-title Вакансии
    .page-t2
        img.col-12.col-md-8.col-xl-6.p-0(src="img/jobs/img_Jobs.jpg")
        h3 Информация скоро появится
        p.font-body1.gray2 Наша команда уже заканчивает подготовку материала. #[br] Оставайтесь на связи ;)