extends templates/page-solo

block pageVar
    - var pageTitle = "SkillsUp / Главная";
    - var pageName = "Вакансии";

block content
    .profile
        .info-panel-mentor
            img.info-panel-mentor-img(src="img/trainers/photo_trainer01.jpg")
            .info-panel-mentor-info
                .info-panel-mentor-name Марина Мельник
                .info-panel-mentor-desc
                    | Business Analyst в ведущей европейской компании по разработке ПО
                    br
                    | Аспирант факультета прикладной математики ДНУ
                    br
                    | Имеет сертификаты PSPO, PMP

        p Благодаря студенческим годам и работе, мне удалось побывать во многих городах и странах. В некоторых из них мне было комфортно, в некоторых - нет. Ближе всего по духу мне показался Шанхай. Это огромный муравейник, где история Китая пересеклись с новейшими технологиями. Это город контрастов. В нем можно жить в сверхбыстром темпе, а можно сидеть в тихом уютном кафе попивая чашку чая.
        p Сложно судить о себе со стороны. В детских сказках было все просто - добро и зло, хорошие и плохие. Человек же - это набор качеств, которые в каждой конкретной ситуации могут сослужить ему как в плюс, так и в минус. Мы все индивидуальны и ставить на человека ярлыки считаю неверным.
        img.w-100.my-4(src="img/img_post.jpg")
        p По одной из теорий, всех людей можно разделить на тех, кто любит быстро принимать решения и тех, кому больше свойственно долго обдумывать и анализировать их. Я же могу работать в очень быстром темпе на автоматизме. Это иногда аж захватывает. А в некоторых же ситуациях могу просидеть с листом и ручкой расписывая задачи алгоритмами или анализировать информацию. Как говорят "It depends".
        p Темп жизни так же отражается и на моих хобби. Они могут иногда меняться, но всегда есть как быстрые и экстремальные, так и спокойные. Иногда хочется погонять с друзьями на лыжах или коньках, покататься на велосипеде. В другой день пострелять с однозарядной пневматической винтовки, пофотографировать или поиграть в качественные компьютерные стратегии.
        p У меня нет людей, на которых надо равняться и которых я считаю примером для подражания. Все люди индивидуальны и некоторым аспектам их индивидуальности можно поучиться. Мне нравилось читать цитаты мудрых людей древности, Конфуция, Макиавелли. В политике и музыке у меня нет явных кумиров, а из публичных деятелей - это Энтони Роббинс и Радислав Гандапас.
        h3.quote Говорят, что у человека хорошо получается то, что ему нравится. А нравится мне многое. Всегда есть кто-то, кто лучше тебя в своей сфере, и у него можно и нужно этому учиться. Говорят, что у человека хорошо получается то, что ему нравится. А нравится мне многое. Всегда есть кто-то, кто лучше тебя в своей сфере, и у него можно и нужно этому учиться. Говорят, что у человека хорошо получается то, что ему нравится. А нравится мне многое. Всегда есть кто-то, кто лучше тебя в своей сфере, и у него можно и нужно этому учиться.
        p При огромном количестве всевозможных гаджетов и программ, умения эффективно работать с ними, мой день редко проходит без хорошей гелиевой ручки и бумаги. При большом ежедневном объеме информации мне удобно ее представлять на бумаге. Очень приятно, когда выкидываешь квадратные листочки с выполненными задачами.
        h3.profile-courses Тренер курсов
        .row
            +courseCardPage("img/courses/img_Agile with Scrum.svg", "10 недель | 20 занятий", "Тестирование ПО и обеспечение качества", "develop", "new")
            +courseCardPage("img/courses/img_Agile with Scrum.svg", "10 недель | 20 занятий", "Тестирование ПО и обеспечение качества", "develop")
            +courseCardPage("img/courses/img_Agile with Scrum.svg", "10 недель | 20 занятий", "Тестирование ПО и обеспечение качества", "develop")