extends templates/base
block pageVar
    - var pageTitle = "SkillsUp / Главная";
    - var pageName = "Вакансии";

block content
    .page-title Тренинги
    .row.col-12.col-lg-10.offset-lg-1.gray2
        img.w-100.mb-4(src="img/img_trainings.jpg")
        p У нас особый подход к обучению. Занятия построены так, чтобы после них участники могли применять полученные навыки out-of-box.
        p На занятиях мы задействуем все системы восприятия:
        ul
            li визуальную, за счет ярких и запоминающихся слайдов
            li аудиальную, за счет правильной расстановки акцентов на наиболее значимых моментах, а также подкрепляя материал интересными примерами из жизни
            li кинестетическую, за счет практических упражнений, игр и кейсов
        p Наше главное правило: на занятии должно быть интересно и весело, только тогда это будет эффективно.
        p По окончанию обучения мы проводим срез полученных знаний.
        p В случае проведения корпоративного обучения, мы повторяем тестирование слушателей через 3 и 6 месяцев и даем соответствующие рекомендации.
        .row.mt-5
            +courseCardPage("img/courses/img_Agile with Scrum.svg", "10 недель | 20 занятий", "Тестирование ПО и обеспечение качества", "develop", "new")
            +courseCardPage("img/courses/img_Agile with Scrum.svg", "10 недель | 20 занятий", "Тестирование ПО и обеспечение качества", "develop")
            +courseCardPage("img/courses/img_Agile with Scrum.svg", "10 недель | 20 занятий", "Тестирование ПО и обеспечение качества", "develop")