.navbuttons-wrapper
    .navbuttons
        .navbuttons-base.navbuttons-up
            span(class="iconify" data-icon="entypo:chevron-small-up" data-inline="false")
        .navbuttons-base.navbuttons-back
            span(class="iconify" data-icon="entypo:chevron-small-left" data-inline="false")
