.social.col-auto
    a(href="#")
        span(class="iconify" data-icon="fa-brands:facebook-f" data-inline="false")
    a(href="#")
        span(class="iconify" data-icon="fa-brands:instagram" data-inline="false")
    a(href="#")
        span(class="iconify" data-icon="fa-brands:linkedin-in" data-inline="false")