.social-page
    a.social-page-fb
        span(class="iconify" data-icon="entypo-social:facebook-with-circle" data-inline="false")
    a.social-page-tw
        span(class="iconify" data-icon="entypo-social:twitter-with-circle" data-inline="false")
    a.social-page-in
        span(class="iconify" data-icon="entypo-social:linkedin-with-circle" data-inline="false")