- var phones = ["+380 67 536-87-70", "+380 95 492-65-67", "+380 93 151-51-52"];
- var skype = "itskillsup";
- var email = "info@skillsup.ua";
- var main = [{url: 'index.html', name: 'Главная'}];
-
    var nav = [
        {url: 'learning.html', name: 'Обучение', child:{
            url: 'learning.html', name: 'Обучение',
            url: 'learning.html', name: 'Обучение',
        }},
        {url: 'career.html', name: 'Карьера'},
        {url: 'business.html', name: 'Бизнесу'},
        {url: 'calendar.html', name: 'Календарь'},
        {url: 'blog.html', name: 'Блог'},
        {url: 'about.html', name: 'О нас'},
        {url: 'contacts.html', name: 'Контакты'}
    ]; 
- var pageTitle = "SkillsUp";